ServicioMercastock/ServicioMercastock/bin/Debug/ServicioMercastock.exe
*.pdb
*.exe
ServicioMercastock/ServicioMercastock/bin/Debug/ServicioMercastock.pdb
ServicioMercastock/ServicioMercastock/bin/Debug/config - copia.ini
*.log
ServicioMercastock/ServicioMercastock/bin/Debug/ServicioMercastock.exe